:root {
  --bg: #ebf2fa;
  --bg-shade: #cedff3;
  --bg-shade2: #adcaeb;
  --gold: #ffd700;
  --brwn: #f4a460;
  --blue: #1e90ff;
  --d-blue: #0066cc;
  --red: #dc143c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
button,
input,
input[type="submit"],
input[type="number"],
select,
option,
td,
th,
li {
  color: var(--d-blue);
}

.line {
  border-bottom: 4px solid var(--d-blue);
}

table tr:first-child th {
  border-bottom: 4px solid var(--d-blue);
}

nav {
  border-radius: 0px !important;
}

nav *,
nav *:visited {
  color: var(--blue);
  text-decoration: none;
  font-weight: 800;
  transition-duration: 500ms;
}

nav ul li a:hover {
  color: var(--blue);
  background-color: var(--gold);
}

#cart>#dotton {
  background-color: var(--gold) !important;
  color: var(--bg) !important;
}

#welcome h1,
#welcome p {
  color: var(--red);
}

a {
  color: var(--blue);
  transition-duration: 500ms;
}

a:hover {
  color: var(--red);
}

body {
  background-color: var(--bg);
}

.card {
  background-color: var(--bg-shade);
}

a.card {
  text-decoration: none;
  transition-duration: 1s;
}

a.card:hover {
  background-color: var(--bg-shade2);
}

input,
select,
input:focus,
select:focus {
  background-color: var(--bg-shade2);
}

input[type="submit"] {
  color: var(--blue);
  background-color: var(--gold);
  transition-duration: 500ms;
}

input[type="submit"]:disabled,
input[type="submit"]:disabled:hover {
  color: var(--blue);
  background-color: var(--bg-shade2);
}

input[type="submit"]:hover {
  color: var(--bg);
  background-color: var(--d-blue);
}

.glass {
  background-color: rgba(255, 255, 255, 0.2);
}

.cart_item:hover td:first-child {
  text-decoration: underline;
  text-decoration-color: var(--gold);
}

.cart_item i {
  transition-duration: 500ms;
}

.cart_item i:hover {
  color: var(--red);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-shade1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--d-blue);
}
