* {
  margin: 0;
  padding: 0;
}

form {
  display: block !important;
}

input {
  padding: 12px;
  border: 1px solid black;
}

.center {
  display: flex !important;
  flex-direction: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.row {
  display: flex;
  flex-direction: column;
  width: 500px;
}
