body {
  background-color: black;
}

h1,
p,
input,
.cell {
  color: white;
}

.cell {
  background-color: black;
  outline: none;
  border: 1px solid white;
  transition-duration: 500ms;
}

.cell:hover {
  background-color: orange;
}

.button {
  padding: 15px;
  margin: 35px;
  border: 3px solid white;
  border-radius: 9px;
  background-color: transparent;
  transition-duration: 500ms;
}

.button:hover {
  background-color: orange;
}

#content {
  margin: 35px;
  width: 40%;
  margin: 0 auto;
  border: 3px solid white;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
}
